<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
	<head>
		<title><!--TITLE--></title>
		<link rel="stylesheet" type="text/css" href="/template/style.css" />
		<link rel="icon" type="image/png" href="/template/favicon.ico" />
	</head>
	<body>
		<div id="container">
			<div id="body">
				<center><p>
					<u><i>This site is still under development, do not expect it to work.</i></u>
				</p></center>
<!--=============================================================================================-->
<!--BODY-->
<!--=============================================================================================-->
			</div>
			<div id="footer">
				<div id="bar">
					<a href="http://www.pvv.ntnu.no/"><img src="/template/home.svg"/> Webside</a> 
					<a href="https://www.facebook.com/pvvntnu"><img src="/template/facebook.svg"/> Facebook</a>
					<a href="https://github.com/Programvareverkstedet"><img src="/template/github.svg"/> Github</a> 
					<a href="https://dev.pvv.ntnu.no/projects/pvv-dev/"><img src="/template/cog.svg"/> Dev-Tracker</a> 
					<br/>
					wip
				</div>
				<p style="text-align:right;">
					Programvareverkstedet<br/>
					www.pvv.ntnu.no
				</p>
			</div>
		</div>
	</body>
</html>